@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Urbanist";
    src: url("./assets/fonts/Urbanist-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Urbanist";
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p,
li {
    font-size: 1rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    letter-spacing: 0.125em;
    /* text-align: justify; */
}

h1 {
    font-size: 2.25rem /* 36px */;
    line-height: 2.75rem /* 44px */;
    letter-spacing: 0.125em;
    text-align: start;
}

/* description */
h2 {
    font-size: 1.25rem /* 30px */;
    line-height: 2rem /* 36px */;
    letter-spacing: 0.125em;
    text-align: start;
}

@media (max-width: 640px) {
    p {
        font-size: 1rem /* 18px */;
        line-height: 1.5rem /* 24px */;
        letter-spacing: 0.125em;
        text-align: justify;
    }
    h1 {
        font-size: 2rem /* 32px */;
        line-height: 2.5rem /* 40px */;
        letter-spacing: 0.125em;
        text-align: start;
    }
}
